<div class="created-personal-exercise">
    <div class="exercise-name">{{personal_exercises.exercise_name}}</div>
    <div class="equipment-type">{{personal_exercises.gym_no_gym}}</div>
    <div class="body-section">{{personal_exercises.upper_lower}}</div>
    <div class="fitnessLevel">{{personal_exercises.fitness_level}}</div>
    <div class="exercise-instruction">{{personal_exercises.instructions}}</div>
</div>