<div class="created-personal-exercise">
    <div class="exercise-name">Exercise: {{exercise_name}}</div>
    <div class="equipment-type">Gym or No Gym: {{gym_no_gym}}</div>
    <div class="body-section">Upper or Lower Body: {{upper_lower}} Body</div>
    <div class="fitnessLevel">Fitness Level: {{fitness_level}} Level</div>
    <div class="exercise-instruction">Instructions: {{instructions}}</div>
    <div class="editLink-container">
        <a href="/dashboard/edit-personal/{{id}}" class="edit-exercise-link">Edit Exercise</a>
    </div>
</div>